.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    height: 36px;
    width: 36px;
}

.logo a {
    font-size: 1.5rem;
    line-height: 36px;
}

.logo a:hover {
    text-decoration: none;
}

.nav {
    margin-left: 2rem;
    font-size: 1.2rem;
}

.nav a {
    padding-right: 1.5rem;
}

.config {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.mobileNav {
    display: none;
    margin: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

.mobileNav a {
    display: inline-block;
    margin: 0rem 1.5rem 1rem;
}

@media (max-width: 880px) {
    .nav {
        display: none;
    }

    .mobileNav {
        display: block;
    }
}

@media (max-width: 475px) {
    .logo img {
        display: none;
    }
}
