.container {
    width: 1024px;
    margin: 50px auto 30px auto;
}

.container h1 {
    margin-bottom: 1.5rem;
}

.container h3 {
    margin-bottom: 0.5rem;
}

.container p {
    font-size: 1.2rem;
}

.container hr {
    width: 250px;
    margin: 2.5rem auto;
    border-bottom: 1px solid hsl(0, 0%, 87.1%);
    background-color: transparent;
}

@media all and (max-width: 1200px) {
    .container {
        width: 800px;
    }
}

@media all and (max-width: 850px) {
    .container {
        width: 100%;
        margin: 1.5rem 0;
    }
}