.photoset {
    padding: 0 0.75rem;
}

.meta {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.2rem;
    font-style: italic;
}

.description {
    margin: 1.5rem 0;
}

.description p {
    font-size: 1.15rem;
}