.photoGrid {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
}

.photoGrid button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.loadMore {
    text-align: center;
    margin: 40px 0;
}

.loadMore button {
    border: var(--primary-color-2);
    background: var(--primary-color-1);
    color: var(--background);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.photo {
    margin: 2rem 0;
}

.caption {
    text-align: center;
    margin: 1rem 0;
    padding: 0;
}

.date {
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: var(--meta);
}