.container h3 {
    margin: 1rem 0;
}

.vscodePlugins {
    margin: 0 0 2rem 0;
    list-style-type: none;
}

.vscodePlugins li {
    margin: 0.5rem 0;
}

@media all and (max-width: 600px) {
    .container {
        margin: 0.75rem 0;
    }

    .vscodePlugins {
        margin: 0;
    }
}