.embeddedPost {
    margin: 32px 0;
    border: 1px solid var(--grey-1) !important;
    padding: 16px !important;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.post {
    margin: 0 !important;
}

.post p {
    font-size: 1.2rem !important;
    margin-bottom: 24px !important;
    color: var(--text) !important;
}
