.bar {
    text-align: center;
    margin: 1rem 2rem;
}

.themeOptions {
    display: flex;
}

.colorThemeBar {
    text-align: left;
    flex-grow: 3;
}

.colorThemeBar h3 {
    margin-bottom: 0.3rem;
}

.colorButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.themeColor {
    border-style: solid;
    cursor: pointer;
    width: 90px;
}

.themeColor.red {
    border-color: var(--primary-color-red);
    background: var(--primary-color-red);
}

.themeColor.orange {
    border-color: var(--primary-color-orange);
    background: var(--primary-color-orange);
}

.themeColor.green {
    border-color: var(--primary-color-green);
    background: var(--primary-color-green);
}

.themeColor.blue {
    border-color: var(--primary-color-blue);
    background: var(--primary-color-blue);
}

.themeColor.purple {
    border-color: var(--primary-color-purple);
    background: var(--primary-color-purple);
}

.fontThemeBar {
    text-align: left;
    flex-grow: 1;
}

.heading {
    margin-bottom: 0.3rem;
}

.fontButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.fontStyle {
    border-style: solid;
    border-color: var(--primary-color-1);
    background: var(--grey-1);
    cursor: pointer;
    width: 120px;
}

.fontStyle:hover {
    background: var(--primary-color-2);
}

.fontStyle.sansSerif {
    font-family: var(--sans-serif);
}

.fontStyle.serif {
    font-family: var(--serif);
}

.fontStyle.monospaced {
    font-family: var(--monospaced);
}