.themeSelector {
    text-align: center;
    width: var(--width);
    margin: 16px auto;
    padding: 16px 32px;
    border: 1px solid var(--primary-color-1);
    box-shadow: var(--box-shadow);
    position: relative;
}

.themeSelector h3 {
    font-size: 1.75rem;
    margin-bottom: 8px;
    line-height: 1;
}

.buttonRow {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.bottomButtonRow {
    margin-bottom: 0;
}

.themeColor {
    border-style: solid;
    cursor: pointer;
    width: 100px;
    padding: 5px 0;
}

.themeColor.red {
    border-color: var(--primary-color-red);
    background: var(--primary-color-red);
}

.themeColor.orange {
    border-color: var(--primary-color-orange);
    background: var(--primary-color-orange);
}

.themeColor.green {
    border-color: var(--primary-color-green);
    background: var(--primary-color-green);
}

.themeColor.blue {
    border-color: var(--primary-color-blue);
    background: var(--primary-color-blue);
}

.themeColor.purple {
    border-color: var(--primary-color-purple);
    background: var(--primary-color-purple);
}

.buttonContainer {
    font-size: 0.8rem;
}

.buttonContainer button {
    display: block;
}

.closeButton {
    background: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    z-index: 100;
    stroke: var(--text);
}

.svgButton {
    display: block;
    border-style: solid;
    cursor: pointer;
    padding: 5px 35px;
    text-align: center;
    stroke: var(--black-2);
}

.buttonContainer:hover {
    color: var(--primary-color-1);
}

.buttonContainer:hover button {
    border-color: var(--primary-color-1);
    stroke: var(--primary-color-1);
}

.closeButton svg,
.svgButton svg {
    width: 24px;
    height: 24px;
}


@media (max-width: 625px) {
    /* .themeSelector {
        width: calc(100vw - 2rem);
    } */

    .themeSelector h3 {
        font-size: 1.5rem;
    }

    .themeColor {
        width: calc((100vw - 2rem) / 8);
    }

    .svgButton {
        width: calc((100vw - 2rem) / 4);
    }
}
