.bar {
    text-align: center;
    margin: 1rem 2rem;
}

.bar h3 {
    margin-bottom: 0.75rem;
}

.colorButtons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.themeColor {
    border-style: solid;
    cursor: pointer;
    width: 100px;
}

.themeColor.red {
    border-color: var(--primary-color-red);
    background: var(--primary-color-red);
}

.themeColor.orange {
    border-color: var(--primary-color-orange);
    background: var(--primary-color-orange);
}

.themeColor.green {
    border-color: var(--primary-color-green);
    background: var(--primary-color-green);
}

.themeColor.blue {
    border-color: var(--primary-color-blue);
    background: var(--primary-color-blue);
}

.themeColor.purple {
    border-color: var(--primary-color-purple);
    background: var(--primary-color-purple);
}