.article {
    margin: 0 0 2.5rem 0;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--grey-1);
}

.article:hover {
    border-color: var(--primary-color-1);
}

.article:hover .metadata {
    border-color: var(--primary-color-1);
}

.article h2 {
    font-size: 2.25rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}

.content {
    padding: 1rem;
}

.metadata {
    text-transform: uppercase;
    font-style: italic;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--grey-1);
    background-color: var(--background-lighter);
    display: flex;
    column-gap: 1rem;
}

.readTime {
    text-transform: none;
}

.excerpt {
    font-size: 1.4rem;
    line-height: 2;
}

.tagList {
    margin: 0;
    padding: 0;
    width: 100%;
}

.tagList li {
    display: inline-block;
    list-style-type: none;
    padding: 0 30px 0 0;
    line-height: 2;
}

.tagList li:first-child {
    padding-left: 0;
}

.tagList li a {
    white-space: nowrap;
    font-size: 1.2rem;
}

.continueReading {
    margin: 2rem 0 0;
    font-size: 1.25rem;
}

@media (max-width: 414px) {
    .article h2 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
}
