.container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 12px;
}

.bar {
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: #666;
    position: relative;
    margin: 0 0 25px 0;
}

.innerBar {
    height: 100%;
}

.barLegend {
    line-height: 40px;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 500px) {
    .container {
        display: block;
    }

    .bar {
        margin: 0 0 10px 0;
    }

    .barLegend {
        line-height: 1;
        margin: 0 0 25px 0;
        text-align: center;
    }
}