.latestPhotosetSection {
    margin: 5rem 0;
}

.latestPhotosetSection h2 {
    margin-bottom: 0.75rem;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading .link {
    text-align: right;
}

.mobileLink {
    text-align: center;
    display: none;
    font-size: 1.2rem;
    margin: 1rem 0 0;
}

.photoset {
    border: 1px solid var(--meta);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    background-position: 50% 50%;
}

.content {
    padding: 1.25rem 1.25rem 1.25rem 0;
}

.content h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

@media all and (max-width: 450px) {
    .heading .link {
        display: none;
    }

    .mobileLink {
        display: block;
    }

    .photoset {
        flex-direction: column;
        row-gap: 1rem;
    }

    .photoset .image {
        min-height: 250px;
    }

    .content {
        padding: 0.75rem;
    }
}