.switch {
    max-height: 1.2rem;
    vertical-align: middle;
    cursor: pointer;
}

.toggleButtonRect {
    stroke: var(--primary-color-1);
}

.toggleButtonRect {
    stroke: var(--primary-color-2);
}

.toggleButtonCircleLightMode,
.toggleButtonCircleDarkMode {
    fill: var(--primary-color-1);
}

.switch:hover .toggleButtonCircleLightMode,
.switch:hover .toggleButtonCircleDarkMode {
    fill: var(--primary-color-2);
}

.switch .toggleButtonCircleLightMode {
    display: var(--display-light-mode);
}

.switch .toggleButtonCircleDarkMode {
    display: var(--display-dark-mode);
}

.toggleButtonStar {
    display: var(--display-light-mode);
}

.toggleButtonSunEllipse,
.toggleButtonSunStar {
    fill: #fff700;
}

.toggleButtonMove {
    fill: #363636;
    display: var(--display-dark-mode);
}