.mostRecentPosts {
    margin: 5rem 0;
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.link {
    text-align: right;
}

.mobileLink {
    text-align: center;
    display: none;
    font-size: 1.2rem;
}

@media (max-width: 450px) {
    .heading {
        display: block;
    }

    .link {
        display: none;
    }

    .mobileLink {
        display: block;
    }
}