.mostRecentPosts h2 {
    color: var(--text);
}

.article {
    margin: 0 0 2.5rem 0;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--grey-1);
}

.article:hover {
    border-color: var(--primary-color-1);
}

.article:hover .metadata {
    border-color: var(--primary-color-1);
}

.article h2 {
    font-size: 2.25rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}

.content {
    padding: 1rem;
}

.metadata {
    text-transform: uppercase;
    font-style: italic;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--grey-1);
    background-color: var(--background-lighter);
}

.excerpt {
    font-size: 1.4rem;
}

@media (max-width: 450px) {
    .metadata {
        text-align: center;
    }

    .article h2 {
        margin-bottom: 1rem;
    }
}
