.mostRecentPosts {
    margin: 5rem 0;
}

.mostRecentPosts h2 {
    color: var(--text);
}

.mostRecentPosts h3 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

.viewMore {
    text-align: center;
    margin: 1rem 0 0;
    font-size: 1.2rem;
}

@media (max-width: 450px) {
    .heading {
        display: block;
    }

    .link {
        display: none;
    }

    .mobileLink {
        display: block;
    }
}