.searchField {
    padding: 10px;
    border-radius: 2px;
    width: 300px;
    border: 1px solid var(--black-3);
    margin-right: 15px;
}

.searchButton {
    background: var(--primary-color-1);
    color: #fefefe;
    border: none;
    padding: 10px 15px;
    font-weight: normal;
    cursor: pointer;
}

.searchButton:hover {
    background: var(--primary-color-3);
}