@font-face {
    font-family: 'inconsolata';
    src: url('/fonts/inconsolata/inconsolata.ttf') format('truetype');
    font-weight: 200 900;
    font-display: swap;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/source_code_pro/SourceCodeProItalic.ttf') format('truetype');
    font-weight: 200 900;
    font-style: italic;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/source_code_pro/SourceCodePro.ttf') format('truetype');
    font-weight: 200 900;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrains_mono/jetbrains.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrains_mono/jetbrains_italic.ttf') format('truetype');
    font-weight: 100 800;
    font-style: italic;
}
