:root {
    --background: hsl(0, 0%, 100%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 90%);
    --black-1: hsl(0, 0%, 9%);
    --black-2: hsl(0, 0%, 15%);
    --black-3: hsl(0, 0%, 20%);
    --grey-1: hsl(0, 0%, 69%);
    --grey-2: hsl(0, 0%, 39%);
    --font: WorkSans, Helvetica, Arial, sans-serif;
    --green-1: hsl(144, 100%, 15%);
    --green-2: rgb(24, 124, 61);
    --green-3: hsl(124, 95%, 32%);
}

/* --- CSS Reset --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding:0;
}

#root,
#__next {
  isolation: isolate;
}

/* --- End Reset --- */

html,
body {
    background-color: var(--background);
    color: var(--black-2);
    font-size: 100%;
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

main {
    width: min(100ch, 100vw - 2rem);
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    font-weight: 500;
    color: var(--green-1);
    font-size: 2.6rem;
    margin: 2rem 0 0 0;
    padding: 0;
}

h2 {
    font-weight: 400;
    color: var(--green-2);
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}

h3 {
    color: var(--green-2);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

h1 span,
h2 span,
h3 span {
    white-space: nowrap;
}

p {
    line-height: 1.8;
    margin-bottom: 25px;
    font-size: 1.2rem;
}

a,
a:visited {
    color: var(--green-1);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: var(--green-2);
    text-decoration: underline;
}

a img {
    border: none;
}

div.cover {
    width: 100%;
    object-fit: cover;
    background-position: 50% 50%;
    min-height: 400px;
}

div.cover.about {
    background-image: url('/images/covers/about.jpg');
    background-position: 50% 35%;
}
.about h1 {
    margin: 0.75rem 0 1.5rem;
}

@media all and (max-width: 809px) {
    h2 {
        font-size: 1.75rem;
    }

    div.cover {
        min-height: 300px
    }
}

@media all and (max-width: 450px) {
    h1 {
        font-size: 2.5rem;
    }

    .hide-on-mobile {
        display: none;
    }
}