.imageRow {
    display: flex;
    justify-content: space-between;
}

.imageRow button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

@media all and (max-width: 425px) {
    .imageRow {
        display: block;
        max-width: 100%;
        width: 100%;
    }
}